@import "../../assets/variables";

section.errorMain {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button.home {
        @include button-styling;
        background-color: $green;
    }
}