@import "../../../assets/variables";

section.tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    table.watchlistTable {
        @include table-styling;

        th, td {
            @include table-styling;
            font-size: 14px;

            .fa {
                margin-left: 5px;
                color: $purple;
            }
            .remove {
                color: $pink;
            }
        }
    }
}