@import "../../assets/variables";

section.totalModal {

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(49, 0, 51, 0.6);
    position: absolute;
    top: 0px;
    left: 0px;

    article.modal {
        display: flex;
        flex-direction: column;
        align-items: left;
        height: 70vh;
        width: 85vw;
        background-color: white;
        padding: 0.8rem;

        > * {
            margin-top: 0.5rem;
        }

        div.modalHeader { 
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            h3 {
                margin: 0;
            }
            .remove {
                color: $pink;
            }
        }

        table {
            @include table-styling;
            width: 100%;
            border: 2px solid $purple;
            border-collapse: collapse;

            thead {
                background-color: $purple;
                color: white;
            }

            tr td {
                border: 1px solid $purple;
                padding: 0.25rem;
            }
        }

        table.ict {
            margin-bottom: 5px;

            tr {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                
            }
        }

        button.remove {
            @include button-secondary;
            width: 200px;
            align-self: center;
        }

        h3 {
            margin: 0;
        }

        table.fixtures {
            text-align: center;
            
        }
    }
}
